<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Owner First Name</th>
        <th>Owner Last Name</th>
        <th>Vehicle Type</th>
        <th>Color</th>
        <th>License Plate</th>
      </tr>
    </thead>
    <tbody>

      {% for user in users %} 
        <tr>
          <td>{{ user ["first_name"] }}</td>
          <td>{{ user ["last_name"] }}</td>


          
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>


